<?xml version="1.0"?>
<model>
  <name>Yamabico Seminar - Wall</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <author>
    <name>Helio Perroni Filho</name>
    <email>mail@xperroni.me</email>
  </author>
  <description>
    A wall of 0.45m width by 0.4m height used as obstacle in Yamabico Seminar demonstrations.
  </description>
  <depend>
  </depend>
</model>
