<?xml version="1.0"?>

<model>
  <name>Pioneer 2DX / Camera (ROS)</name>
  <version>1.0</version>
  <sdf>model-1_4.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <description>
    A model of the Pioneer 2DX robot equipped with a front-mounted camera. Includes plugins for ROS interfacing (differential driving and visual input).
  </description>

  <depend>
  </depend>
</model>
