<?xml version="1.0"?>
<model>
  <name>Yumebros - Picture Frame</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <author>
    <name>Helio Perroni Filho</name>
    <email>mail@xperroni.me</email>
  </author>
  <description>
    A picture of 0.45m width by 0.4m height. Demonstrates application of 2D images to surfaces.
  </description>
  <depend>
  </depend>
</model>
